@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: purple;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 70%;
  height: 600px;
  background-color: palevioletred;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ion-icon {
  font-size: 80px;
}
